body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    background-color: rgba(19, 201, 247, 0.233);
}

body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 1, 14, 0.295);
    border-radius: 0px;
}

.top {
    transition: 2.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 10px;
}

.scrooll {
    transition: 2.4s;
    background: linear-gradient(60deg,
            rgba(84, 58, 183, 1) 0%,
            rgba(0, 172, 193, 1) 100%);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#page{
    width: 100%;
    height: 900vh;
    border: none;
}

.top .menu,ul {
    list-style: none;
}

.top .menu,ul,li {
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
}

.topbtn {
    padding: 7px;
    font-weight: 600;
}

.topbtn {
    border-radius: 50%;
}

.topbtn i:hover {
    transition: 1.5s;
    transform: rotateZ(360deg);
}


.formsearch {
    display: flex;
    transition: 2.4s;
    transform: translateX(370px);
    color: black;
    text-align: left;
    padding: 7px;
    border-radius: 4px;
    margin: 5px;
    position: fixed;
    right: 0;
    top: 60px;
    width: 25%;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.formuser {
    display: flex;
    transition: 2.4s;
    transform: translateX(370px);
    color: black;
    text-align: left;
    padding: 7px;
    border-radius: 4px;
    margin: 5px;
    position: fixed;
    right: 0;
    top: 60px;
    width: 25%;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.showform {
    transform: translateX(-5px);
}

.formsearch form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.formsearch form button {
    position: absolute;
    right: 0;
    top: 6px;
    margin-right: 5px;
    font-size: 13pt;
    border: none;
    background: none;
    outline: none;
    padding: 10px;
}